# Ignore datasets
face2_zh_json/
ghostbuster-data/
ghostbuster-data_reformed/

# Ignore results folder
results/

# Ignore local_model folder
local_model_Bert_Chinese/
local_model_Bert_English/
local_model_mistral/

# Ignore gpt-who
gpt-who/

# Ignore FourierGPT
FourierGPT/

# Ignore fft_output
fft_output/

# Ignore fft_results
fft_results/
